.container
    .row
        .col-md-12
            .page-header
                h1 {{ employee.name.display }}
                    small {{ ' ' + employee.jobTitle }}
    .row
        .col-md-4.panel.panel-default
            .panel-body This is where the employee photo will go
        .col-md-8.panel.panel-default
            .panel-body This is where the employee summary will go
    .row
        .col-md-2.panel.panel-default
            .panel-body
                ul.nav.nav-pills.nav-stacked(ng-repeat="screen in screens")
                    li {{ screen.name }}
        .col-md-10.panel.panel-default
            .panel-body This is where the employee screen will go