.container
    .row
        .col-md-4.widget-panel
            div(ng-include="'/partials/dashboard/employee-widget'")
    .row
        .col-md-1
            | &nbsp;
    .row
        .col-md-4.widget-panel
            div(ng-include="'/partials/dashboard/post-widget'")
