.nav, .pagination, .carousel, .panel-title a
  cursor: pointer

.widget-panel
  background-color: whitesmoke

.margin-left-5
  margin-left: 5px

.margin-bottom-10
  margin-bottom: 10px

.no-border
  border: 0px

.table-hover tr
  cursor: pointer

.btn
  margin: 2px

.thumbnail
  padding-top: 15px

button.btn
  margin-left: 10px;

.record-toolbar
  background-color: #f0f4c3