extends ../includes/layout

block content
    .row
        .navbar.navbar-inverse
            .container
                .navbar-header
                    a.navbar-brand(href='/') Airship
                .navbar-collapse.collapse
                    div(ng-include="'/partials/account/navbar-login'")

    section.content
        div(ng-view)

    footer.container.text-center
        p &copy; 2014 Airship Ltd.