extends ../includes/layout

block content
    nav.navbar.navbar-default(role="navigation")
        .container-fluid
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse")
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Airship
            .navbar-collapse.collapse(id="navbar-collapse")
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/employees") Employees
                div(ng-include="'/partials/account/navbar-login'")

    section.content
        div(ng-view)

