.container-fluid
    .row
        .col-md-12
            div(ui-view="toolbar")
    .row
        .col-md-3
            div(ui-view="screens")
        .col-md-9
            .row
                .col-md-12
                    div(ui-view="context")
            div(ui-view="records")
