.container-fluid
    .row
        .col-md-3
            screen-selector
        .col-md-9
            .row
                .col-md-8
                    context-selector
            .row
                .col-md-8
                    multiple-record-display(ng-show="model.activeContext.data.length > 1")
                    single-record-display(ng-show="model.activeContext.data.length <= 1")
