.row
    .col-md-12
        table.table.table-hover.table-condensed
            thead
                th(ng-repeat="field in model.activeView.screen.layout") {{ field.label }}
            tbody
                tr(ng-repeat="record in model.activeView.data")
                    td(ng-repeat="field in model.activeView.screen.layout" ng-click="drillIntoRecord(record.record_id, record.display_name)") {{ getFormattedValue(field, record) }}