//.container-fluid
//    .row
//        .col-md-12
//            dynamic-form(template="model.singleTemplate", mode="model.mode", refdata="model.referenceData", ng-model="formData", ng-submit="saveRecord()", role="form")
//    .row
//        .col-md-12
//            button.btn.btn-primary.pull-right(type="button", ng-show="model.mode === 'view'", ng-click="editRecord()") Edit
//            button.btn.btn-primary.pull-right(type="button", ng-show="model.mode === 'edit'", ng-click="cancelEditRecord()") Cancel
//            button.btn.btn-primary.pull-right(type="button", ng-show="model.mode === 'edit'", ng-click="saveRecord()") Save
