.container
    .row
        .col-md-12
            dynamic-Form(template="employeeTemplate", ng-model="formData", ng-submit="processForm()", role="form")
    .row
        .col-md-12
            button.btn.btn-primary(type="button", ng-show="mode === 'view'" ng-click="editRecord()") Edit
            button.btn.btn-warning(type="button", ng-show="mode === 'edit'" ng-click="cancelEditRecord()") Cancel
