.container-fluid
    .row
        .col-md-12
            dynamic-Form(template="employeeTemplate", ng-model="formData", ng-submit="processForm()", role="form")
    .row
        .col-md-12
            button.btn.btn-primary.pull-right(type="button", ng-show="getMode() === 'view'" ng-click="editRecord()") Edit
            button.btn.btn-default.pull-left(type="button", ng-show="getMode() === 'view'" ng-click="cancelEditRecord()") Back
            button.btn.btn-success.pull-right(type="button", ng-show="getMode() === 'edit'" ng-click="saveRecord()") Save
            button.btn.btn-danger.pull-right(type="button", ng-show="getMode() === 'edit'" ng-click="cancelEditRecord()") Cancel
