table.table
    thead
        th(ng-repeat="field in groupTemplate") {{ field.label }}
    tbody
        tr(ng-repeat="record in groupData")
            td(ng-repeat="field in groupTemplate") {{ getData(record, field.value) }}