.container-fluid
    .row
        .col-md-3
            screen-selector
        .col-md-9
            .row
                .col-md-8
                    maindata-context
            .row
                .col-md-8
                    h4 {{ screenFramework.currentScreen.name }}
            .row
                .col-md-8(ng-include="'/partials/employees/summary-screen'", ng-show="employeeContext.getCurrentContext().isGroup()")
                .col-md-8(ng-include="'/partials/employees/employee-screen'", ng-hide=" employeeContext.getCurrentContext().isGroup()")