.panel.panel-default
    .panel-heading Screens
    .panel-body
        ul.list-group
            a.list-group-item.no-border(href="#", ng-repeat="screen in screenFramework.screens" ng-click="switchScreen(screen)" ng-class="{active: screen.name === screenFramework.currentScreen.name}") {{ screen.name }}
