.container
    .row
        .col-md-12
            ol.breadcrumb
                li
                    a(href="#", ui-sref="designer.entities") Home
                li
                    a(href="#", ui-sref="designer.screens.details({entityId:entity._id})") {{ entity.name }} (record type)
                li.active {{ screen.name }} (screen)
    .row
        .col-md-4
            table.table
                thead
                    th Fields
                tbody
                    tr(ng-repeat="field in screen.fields", ng-class="{warning: field.label === currentField.label}")
                        td
                            a(href="#", ng-click="selectField(field)") {{ field.label }}
            button.btn.btn-primary(data-toggle="modal", data-target="#myModal") New Field
        .col-md-7.col-md-offset-1
            .ui-view


#myModal.modal(tabindex="-1")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal") &times;
                h4.modal-title New Field
            .modal-body
                field-editor(model="", buttons="false")
            .modal-footer
                button.btn.btn-primary(type="button", data-dismiss="modal", ng-click="cancelNewField()") Cancel
                button.btn.btn-primary(type="submit", data-dismiss="modal", ng-click="saveNewField()") Save
