.row
    .col-md-12
        a(ui-sref="designer.entities.details({entityId:entityId})") < Back to entity {{ entityId }}
.row
    .col-md-12
        h4 You have the following screens in entity {{ entityId }}
