.container
    .row
        .col-md-12
            ol.breadcrumb
                li.active Home
    .row
        .col-md-4
            table.table
                thead
                    th Record Type
                tbody
                    tr(ng-repeat="entity in entities", ng-class="{warning: entity._id === currentEntity._id}")
                        td
                            a(href="#", ng-click="selectEntity(entity)") {{ entity.name }}
        .col-md-7.col-md-offset-1
            .ui-view