.panel.panel-default
    .panel-body
        form(role="form")
            .form-group
                label Single
                input.form-control(type="text", ng-model="entity.name")
            .form-group
                label Plural
                input.form-control(type="text", ng-model="entity.plural")
            button.btn.btn-primary(type="submit") Save

button.btn.btn-success(type="button", ui-sref="designer.screens({entityId:entity._id})")
    span.glyphicon.glyphicon-search
    |  View this entity's screens