.container
    .row
        .col-md-12
            .ui-view

    //        h3 Records

    //.row
    //    .col-md-8
    //        .panel.panel-info
    //            .panel-heading Record
    //            .panel-body
    //                form.form-horizontal(role="form")
    //                    .form-group
    //                        label.col-sm-2.control-label Single name
    //                        .col-sm-10
    //                            input.form-control(type="text", ng-model="currentEntity.name")
    //                    .form-group
    //                        label.col-sm-2.control-label Plural name
    //                        .col-sm-10
    //                            input.form-control(type="text", ng-model="currentEntity.plural")
    //                    .form-group
    //                        .col-sm-10.col-sm-offset-2.text-right
    //                            button.btn.btn-primary(type="submit") Save
    //
    //.row
    //    .col-md-8
    //        .panel.panel-info
    //            .panel-heading Screens
    //            .panel-body
    //                ul.nav.nav-pills.nav-stacked
    //                    li(ng-repeat="screen in currentEntity.screens")
    //                        a(href="#") {{ screen.name }}

