.container
    .row
        .col-md-6.col-md-offset-3
            .panel.panel-default
                .panel-heading
                    .panel-title Please Login
                .panel-body
                    form.form-horizontal(ng-controller="mvLoginCtrl", ng-hide="identity.isAuthenticated()")
                        .form-group
                            label.col-sm-2.control-label Username
                            .col-sm-10
                                input.form-control(placeholder="Username", ng-model="username")
                        .form-group
                            label.col-sm-2.control-label Password
                            .col-sm-10
                                input.form-control(type="password", placeholder="Password", ng-model="password")
                        .form-group
                            .col-sm-offset-2.col-sm-10
                                button.btn.btn-primary(type="submit", ng-click="signin(username, password)") Sign in
