ul.nav.navbar-nav.navbar-right(ng-controller="mvLoginCtrl")
    li.dropdown(ng-show="identity.isAuthenticated()")
        a.dropdown-toggle(href="#", data-toggle="dropdown")
            | Welcome {{ identity.currentUser.firstName + ' ' + identity.currentUser.lastName }}
            b.caret
        ul.dropdown-menu
            li
                a(href="#", ng-click="signout();") Sign out