doctype
html
    head
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/vendor/foundation/css/foundation.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    body(ng-app='app')
        block main-content
        include scripts